{% extends 'base.html.twig' %}

{% block title %}
    Page not found
{% endblock %}

{% block body %}
    <div id="wrapper">
        <h2>Not found 404</h2>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        h2{
            height: 300px;
            font: 50px/300px Arial;
            text-align: center;
        }
    </style>
{% endblock %}
